<main class="content__root">

  <section class="content__section" id="starsjs-banner">
    <h1 class="content__title">
      <span class="content__titleName">Stars.js</span>
      <span class="content__titleDescription">Generate a rotating galaxy in a <code class="content__code">&lt;canvas&gt;</code>.</span>
    </h1>
  </section>

  <section class="content__section">
    <p class="content__p">This is still a work in progress.</p>
    <p class="content__p">You'll soon be able to configure your JavaScript galaxy and download or install the code.</p>
  </section>

  <section class="content__section">
    <p class="content__p">
      <a href="https://github.com/Danziger/starsjs/" target="_blank" rel="noopener" class="link__root">
        <span class="link__underline">GitHub</span>
      </a>
    </p>
  </section>

</main>
